* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a 
{
    text-decoration: none;
    color: inherit;
}

#nav-bar
{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #3498db;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-link
{
    margin-right: 10px;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.692);
    transition: 0.5s;
}
.nav-link:hover
{
    transform: scale(1.1);
    color: black;
    background-color: white;
}

h1{
    margin-top: 60px;
    text-align: center;
}
button{
    display: block;
    margin: auto;
}

form{
    text-align: center;
}

img{
    height: 75px;
    width: 80px;
}

#advert{
    display: flex;
}

video{
    border: 2px solid red;
    display: block;
    margin: auto;
    width: 50%;
    height: 30vh;
}