* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}
html
{
    scroll-behavior: smooth;
}

#page{
    margin-top: 60px;
    padding: 0 10%;
    position: relative;
}

a 
{
    text-decoration: none;
    color: inherit;
}
Header img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#nav-bar .logo h1
{
    cursor: default;
    margin: 5px 20px 0 30px ;
    background-color: inherit;
    color: white;
}

#nav-bar .logo
{
    display: flex;
    align-items: center;
    background-color: inherit;
}
#nav-bar 
{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #3498db;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
#links
{
    background-color: #3498db;
}
.nav-link
{
    margin-right: 10px;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.692);
    transition: 0.5s;
}
.nav-link:hover
{
    transform: scale(1.1);
    color: black;
    background-color: white;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}
#email{
    padding: 5px;
}

button{
    display: block;
    margin: 15px auto;
    background: #f1c40f;
    padding: 10px;
    border: #f1c40f;
    
}
button:hover{
    background: #dbb004;
    border: #dbb004;
}
form{
    text-align: center;
}

img{
    height: 75px;
    width: 80px;
    margin-right: 25px;
}

#advert{
    display: flex;
}

h3{
    font-size: 17px;
    background: rgb(181, 181, 238);
}

section > #advert {
    margin: 40px 0;
}
#advert p
{
    margin-top: 20px;
}

iframe{
    display: block;
    margin: auto;
    width: 50%;
    height: 50vh;
}

#products{
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#products div {
    width: 28%;
    /* margin: 15px; */
    border: 2px solid black;

}
.product-tile h3{
    padding: 15px;
}
.product-tile  h2{
    margin: 15px;
}
.product-tile p{
    line-height: 28px;
}

.product-tile{
    transition: 0.5s all;
    border-radius: 10px;
    overflow: hidden;
}

.product-tile:hover{
    transform: scale(1.1);
}

footer{
    text-align: end;
    margin-top: 35px;
    padding: 15px;
    /* border: 2px solid rgb(181, 181, 238); */
    background-color: rgb(181, 181, 238);
    
}
footer *{
    background-color: rgb(181, 181, 238);
    line-height: 28px;
}
footer a {
    font-size: larger;
    margin: 5px;

}